<div class="container-fluid login-background">
    <div class="row h-100 align-items-center">
        <div><i class="fas fa-arrow-left"></i></div>
        <div class="col col-md-6 d-flex">
            <div class="container-sm mx-md-1 mx-lg-3 mx-xl-5">
                <form class="login bg-white p-4 pt-3 rounded shadow">
                    <h5 class="mb-3 text-end">Hotel <span class="text-danger">Ceibo Real</span></h5>
                    <h2 class="mb-4 text-center">Bienvenido</h2>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico:</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-0 row g-0">
                        <div class="col-md-6 form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox">
                            <label class="form-check-label" for="checkbox"><small>Mantenerme conectado</small></label>
                        </div>
                        <div class="col-md-6 text-end">
                            <small class="text-muted">
                                <a href="#" class="text-reset text-decoration-none">¿Has olvidado tu contraseña?</a>
                            </small>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-1 mb-3">
                        <button type="submit" class="btn btn-danger">Iniciar Sesión</button>
                    </div>
                    <small>¿No tienes cuenta? <a href="/register">Registrate aquí</a></small>
                </form>
            </div>
        </div>
    </div>
</div>