<div class="row vh-100 g-0">
    <div class="col-lg-6 d-none d-lg-block bg-register">
        <div><i class="fas fa-arrow-left"></i></div>
    </div>
    <div class="col-lg-6 d-flex flex-column">
        <h5 class="p-3 fs-5 text-end">Hotel <span class="text-danger">Ceibo Real</span></h5>
        <div class="flex-fill d-flex justify-content-center align-items-center">
            <form class="register w-100 px-5 py-3" id="form-register">
                <h2 class="mb-5 text-center">Crea tu cuenta</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 group-input">
                            <label for="name" class="form-label">Nombres:</label>
                            <input type="text" class="form-control" id="name" name="name">
                            <i class="fas fa-check-circle d-none"></i>
                        </div>
                        <p class="form-input-error d-none">
                            El nombre solo puede contener letras y espacios*
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 group-input">
                            <label for="apell" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="apell" name="apell">
                            <i class="fas fa-check-circle d-none"></i>
                        </div>
                        <p class="form-input-error d-none">
                            El Apellido solo puede contener letras y espacios*
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 group-input">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            <input type="text" class="form-control" id="email" name="email">
                            <i class="fas fa-check-circle d-none"></i>
                            <div class="loader-email d-none">
                                <div class="loader"></div>
                            </div>
                        </div>
                        <p class="form-input-error d-none">
                            El correo solo puede contener letras, numeros, puntos, guiones y
                            guion bajo*
                        </p>
                        <p class="form-input-error d-none">
                            El correo ingresado ya existe*
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 group-input">
                            <label for="telf" class="form-label">Teléfono:</label>
                            <input type="number" class="form-control" id="telf" name="telf">
                            <i class="fas fa-check-circle d-none"></i>
                        </div>
                        <p class="form-input-error d-none">
                            El telefono solo puede contener numeros y el maximo son 14 digitos*
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 group-input">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <i class="fas fa-check-circle d-none"></i>
                        </div>
                        <p class="form-input-error d-none">
                            La contraseña tiene que ser de 4 a 16 digitos*
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 group-input">
                            <label for="password2" class="form-label">Repetir contraseña:</label>
                            <input type="password" class="form-control" id="password2" name="password2">
                            <i class="fas fa-check-circle d-none"></i>
                        </div>
                        <p class="form-input-error d-none">
                            Ambas contraseñas deben ser iguales*
                        </p>
                    </div>
                </div>
                <div class="form-error-message alert alert-danger d-none">
                    <i class="fas fa-exclamation-triangle"></i>
                    Tienes que llenar el formulario correctamente
                </div>
                <div class="d-grid gap-2 mt-1 mb-3">
                    <button type="submit" class="btn btn-danger">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>