<footer class="footer mt-5 pt-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <ul>
                    <li class="col"><a href="#">Inicio</a></li>
                    <li class="col"><a href="#">Habitaciones</a></li>
                    <li class="col"><a href="#">Mis Reservas</a></li>
                    <li class="col"><a href="#">Servicios</a></li>
                    <li class="col"><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <ul>
                    <li><a href="/login">Iniciar Sesión</a></li>
                    <li><a href="/register">Registro</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-center">
                <h3 class="text-dark text-md-start">Siguenos en</h3>
                <nav class="nav redes justify-content-center justify-content-md-start">
                    <a href="#" class="nav-link"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                </nav>
            </div>
            <div class="col-md-3 my-3 my-md-0 text-center text-dark">
                <h3>Gracias por tu visita</h3>
                <h3>¡Hasta Pronto!</h3>
            </div>
        </div>
    </div>
    <div class="copyright py-2">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 text-md-start">
                    <h5 class="m-0">&copy 2020 Hotel Ceibo Real | Todos los derechos reservados</h5>
                </div>
                <div class="col-md-6">
                    <h5 class="text-md-end mt-3 m-md-0">Desarrollado por:</h5>
                </div>
            </div>
        </div>
    </div>
</footer>